.bg-home {
    background: url("../images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 20%;
  }

.main-area {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    height: 1000px;
  } 

h1 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;   
}

.registration {
  background-color: white;
}

.bg-reg {
  background: url("../images/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}